<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [13]:
print('Hello Word!!!')

Hello Word!!!

### 02) WAP to print your address i) using single print ii) using multiple print

In [14]:
print('Madhav milan App.- A Block No-305 madhav vatika-2, street no-3 150 feer ring road')

Madhav milan App.- A Block No-305 madhav vatika-2, street no-3 150 feer ring road

In [16]:
print('Madhav milan App.- A Block No-305 ')
print('madhav vatika-2, street no-3 sukhsagar behind')
print('150 feet ring road, Rajkot')

Madhav milan App.- A Block No-305
madhav vatika-2, street no-3 sukhsagar behind
150 feet ring road, Rajkot

### 03) WAP to print addition of 2 numbers (without input function)

In [1]:
num1 = 67
num2 = 45
sum = num1+num2
print('SUMOF GIVEN TWO DIGIT :',sum)

SUMOF GIVEN TWO DIGIT : 112

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [18]:
num1 = 60
num2 = 40
avg = (num1+num2)/2
print('The avrage of num:',avg)

The avrage of num: 50.0

### 05) WAP to add two number entered by user.

In [33]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
sum = num1+num2
print('The sum of no:', sum )

Enter first number: 45
Enter second number: 5
The sum of no: 50

### 06) WAP to calculate simple interest.

In [34]:
P=int(input("Enter Principle is:"))
N=int(input("Enter time period is:"))
R=int(input("Enter rate of interest:"))
si=(P*R*N)/100
print("SIMPLE INTEREST::",si)

Enter Principle is:8
Enter time period is:8
Enter rate of interest:6
SIMPLE INTEREST:: 3.84

### 07) WAP Calculate Area and Circumfrence of Circle

In [35]:
PI=3.14
radius=float(input("Enter the Radius of Circle::"))
area=PI*radius*radius
circum=2*PI*radius
print("Area of Circle=%.2f"%area)
print("Circumfrence of Circle=%.2f"%circum)

Enter the Radius::5
Area of Circle=78.50
Circumfrence of Circle=31.40

### 08) WAP to print Multiplication table of given number without using loops.

In [1]:
num1=int(input("Enter the Number to print its Multiplication table:"))
print(num1," * 1 =",num1*1)
print(num1," * 2 =",num1*2)
print(num1," * 3 =",num1*3)
print(num1," * 4 =",num1*4)
print(num1," * 5 =",num1*5)
print(num1," * 6 =",num1*6)
print(num1," * 7 =",num1*7)
print(num1," * 8 =",num1*8)
print(num1," * 9 =",num1*9)
print(num1," * 10 =",num1*10)

Enter the Number to print its Multiplication table:5
5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45
5  * 10 = 50

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [32]:
a=float(input("Enter First Side:"))
b=float(input("Enter Second Side:"))
c=float(input("Enter Third Side:"))
s=(a+b+c)/2
area =(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of Triangle::",area)

Enter First Side:5
Enter Second Side:6
Enter Third Side:7
Area of Triangle:: 14.696938456699069

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [26]:
degree=float(input("Enter the Degree:"))
fahren=degree*(9/5)+32;
print("degree to Fahrenheit::",fahren)
fahren=float(input("Enter the Fahrenheit:"))
degree=(5/9)*(fahren-32)
print("Fahrenheit to degree::",degree)

Enter the Degree:54
degree to Fahrenheit:: 129.2
Enter the Fahrenheit:129.2
degree to Fahrenheit:: 53.99999999999999

### 11) WAP to calculate total marks and Percentage.

In [25]:
print("Enter marks of five subects:")
S1=float(input())
S2=float(input())
S3=float(input())
S4=float(input())
S5=float(input())
total=S1+S2+S3+S4+S5;
per=(total/500)*100;
print("TOTAL:",total)
print("PERCENTAGE:",per)

Enter marks of five subects:
45
78
89
78
89
TOTAL: 379.0
PERCENTAGE: 75.8

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [12]:
X1=int(input("Enter the X1:"))
X2=int(input("Enter the X2:"))
Y1=int(input("Enter the Y1:"))
Y2=int(input("Enter the Y2:"))
result=(((X2-X1)**2+(Y2-Y1)**2)**0.5)
print("distance between two points:(Pythagorean Theorem)::",result)

Enter the X1:3
Enter the X2:7
Enter the Y1:4
Enter the Y2:7
distance between two points:(Pythagorean Theorem):: 5.0

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [7]:
sec=int(input("Enter the Seconds:"))
hour=sec//3600
sec %= 3600
min = sec // 60
sec %=60
print("HH:MM:SS ==",hour,min,sec)

Enter the Seconds:12345
HH:MM:SS == 3 25 45

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [4]:
km = int(input("Enter the Distance:"))
mtr=(km*1000)
feet=(km*3280.8)
inch=(km*39370.1)
cent=(km*100000)
         
print("KILOMETER TO METER:",mtr)
print("KILOMETER TO FEET:",feet)
print("KILOMETER TO INCHES:",inch)
print("KILOMETER TO CENTIMETER:",cent)

Enter the Distance:5
KILOMETER TO METER: 5000
KILOMETER TO FEET: 16404.0
KILOMETER TO INCHES: 196850.5
KILOMETER TO CENTIMETER: 500000